* {box-sizing: border-box;}
html{
  height: 100%;
}
body{
  height: 100%;
  background-color: rgb(61, 197, 255);
}
#input{
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 20% 60% 20%;
  height: 60%;
  padding: .5em;
  width: 100%;
  background-color: rgb(242,242,242);
  padding: .3em;
}
.inputs{
  margin-top: 20%;
  margin-bottom: 20%;
  box-shadow: 2px 0px 6px black inset;
  text-align: center;
} 
.calculate{
  width: 90%;
  height: 70%;
  grid-row-start: 3;
  border-radius: 1em;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-family: sans-serif;
}
p{
  padding-top: auto;
  padding-bottom: auto;
  text-align: center;
}
.Bars{
  height: 2em;
  width: 2em;
  background-color: rgb(99, 254, 110);
  margin: auto;
  border: 1px solid #000000;
}
.Spaces{
  height: 2em;
  width: 2em;
  background-color: rgb(202, 247, 255);
  margin: auto;
  border: 1px solid #000000;
}
.Frame{
  height: 2em;
  width: 2em;
  background-color: rgb(189, 58, 58);
  margin: auto;
  border: 1px solid #000000;
}
.wrapper > div {
    border: 1px solid #000000;
    color: #000000;
    /* resize: both; */
    overflow: auto;
    height: 100%;
    background-color: rgb(202, 247, 255);
}
.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.538%;
  background-color: rgb(99, 254, 110);
  height: 100%;
}
.frame{
  padding: 3.076%;
  background-color: rgb(189, 58, 58);
  border: 1px solid #000000;
  margin: 5%;
  margin-top: 11%;
  height: 70%;
  position: absolute;
  justify-content: center;
  width: 90%;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}
.bubble{
  display: -moz-inline-grid;
  position: relative;
  background-image: url("img/Gate-Background.jpg");
  height: 40%;
  border: 1px solid #000000;
  background-size: cover;
  background-position: top;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
#calc-contain {
  height: 54%;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  visibility: hidden;
  z-index: -1;
  width: 97%;
}
.calculator-screen {
  width: 100%;
  font-size: 2.5rem;
  height: 20%;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: left;
  padding-right: 10px;
  padding-left: 10%;
}
.key {
  height: 100%;
  width: 100%;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}
.calculator-keys {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  height: 100%;
}
.clear {
  background:linear-gradient(to bottom, #f4494f 5%, #f4494f 100%);
  background-color: #f4494f;
  border-color: #b0353a;
  color: #fff;
}
.equal {
  background-color: #2e86c0;
  color: #fff;
  grid-column-start: 3;
  grid-column-end: 5;
  width: 100%;
}
.equal:hover {
  background-color: #4e9ed4;
}
.imperial{
  background:linear-gradient(to bottom, #2e86c0 5%, #2e86c0 100%);
  background-color: #2e86c0;
  border-color: #1f5cdf;
  color: #fff;
  font-weight: 500;
}
.blue{
  background:linear-gradient(to bottom, #2e86c0 5%, #2e86c0 100%);
  background-color: #2e86c0;
  color: #fff;
  border-color: #1f5cdf;
  padding: 0;
}
.grey{
  background:linear-gradient(to bottom, rgb(73,88,101) 5%, rgb(73,88,101) 100%);
  background-color:rgb(73,88,101);
  color:white;
  border-color: #3c3c3c;
}
.digit{
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	padding:7px 25px;
	text-decoration:none;
}
.radio{
  visibility: hidden;
  text-align: center;
}
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 35px;
  left: 35px;
  width: 25px;
  
  z-index: 2;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #827e7e;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: 3000%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: rgb(70,130,180);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}  
nav{
  height: 0;
}